.space {
  // margin-top: 690px;
  color: #393E46;
  border: 2px;

}

.brice{
  margin-left: 300px;
  margin-top: 50px;
}
.tt{
  border-color: orange;
  border-width: 6px;
  border-style: solid;
  padding: 30px;
  border-radius: 4px;

}


.titles {
  text-align: center;
  border-color: orange;
  border-width: 6px;
  border-style:solid;
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 10px;

}


 p {
  padding-bottom: 20px;
 font-family: 'Dosis', sans-serif;

}

h2 {
 text-align:center;
 padding-bottom: 30px;
}

.hey {

}
