.banner {
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}
.banner h1 {
  color: dark-gray;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.search-bar p {
  font-size: 25px;
  margin-bottom: 30px;
}

.search-bar{
  color: #21272c;
  // text-align: center;
  position: absolute;
  left: 90px;
  bottom: 100px;
  background: white;
  padding: 35px;
  border-radius: 5px;
  opacity: 1;
}

.search-bar label{
  display: block;
}

.btn-dark {
  background-color: #F2AF58;
  color: white;
  padding: 10px 100px;
  border-radius: 10px;
  opacity: 0.9;
}
.btn-dark:hover {
  opacity: 0.5;
  background: light-gray;
  text-decoration: none;
  color: white;
}
